.panel-heading h1{
  font-size: 200%;
}

.frame{
  margin-left: 10px;
  margin-right: 10px;
}

.date{
  float: right;
  font-size: 80%;
  font-weight: bold;
}

.font-bold{
  font-weight: bold;
}

.contact-float ul{
  list-style: none;
  padding-left: 0;
}

.float-details p{
  float: right;
}

/* .same-length{
  height: 350px;
} */
